:root {
  /* Green Shades */
  --green-50: #f3faf7;
  --green-100: #def7ec;
  --green-200: #bcf0da;
  --green-300: #84e1bc;
  --green-400: #31c48d;
  --green-500: #0e9f6e;
  --green-600: #057a55;
  --green-700: #046c4e;
  --green-800: #03543f;
  --green-900: #014737;

  /* Font Setup */
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color Scheme */
  color-scheme: light;
  color: var(--green-600);
  background-color: var(--green-200);
}

/* Body Style */
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

/* App Container Style */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3em 2em;
  text-align: center;
}

/* Default Header Styles */
h1,
h2 {
  margin: 0;
}

/* Default Button Style */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  color: var(--green-600);
  background-color: var(--green-100);
  transition: border-color 0.25s;
}
button:hover:not(:disabled) {
  cursor: pointer;
  border-color: currentColor;
}
button:disabled {
  cursor: not-allowed;
  filter: grayscale() brightness(0.85);
}

/* Default List Styles */
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Global Hidden Class */
.hidden {
  display: none;
}
